@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --maincolor: rgba(251, 46, 134, 1);
    --secondcolor:rgba(242, 240, 255, 1);
    --mainfont: "Lato", sans-serif;
    --secondfont: "Josefin Sans", sans-serif;
}

body {
    font-family: var(--mainfont);
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}